<footer>
    <div class="footerInfo">
        <div class="footInfo-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>

    
    <div>&copy;WanderLust Private Limited</div>
    <div class="footerInfo-links">
        <a href="">Privacy</a>
        <a href="">Terms</a>
    </div>
    </div>
</footer>